<!--
       Copyright 2017-2019 IBM Corp All Rights Reserved

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<server description="Portfolio server">
    <featureManager>
        <feature>microProfile-2.2</feature>
        <feature>jdbc-4.2</feature>
        <feature>jms-2.0</feature>
        <feature>jca-1.7</feature>
        <feature>jndi-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>monitor-1.0</feature>
        <feature>logstashCollector-1.0</feature>
    </featureManager>

    <logging traceSpecification="*=info:com.ibm.hybrid.cloud.sample.stocktrader.portfolio.*=fine" consoleLogLevel="INFO"/>

    <httpEndpoint httpPort="9080" httpsPort="9443" host="*" id="defaultHttpEndpoint"/>
    
    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.jks" password="passw0rd"/>

    <sslDefault sslRef="RpSSLConfig" />

    <ssl id="RpSSLConfig" keyStoreRef="defaultKeyStore" />

    <mpJwt id="myMpJwt" audiences="${env.JWT_AUDIENCE}" issuer="${env.JWT_ISSUER}" keyName="default" ignoreApplicationAuthMethod="false"/>

    <mpMetrics authentication="false"/>

<!--
    <logstashCollector source="message,trace,ffdc,accessLog" hostName="logstash" port="5044"/>
-->

    <connectionManager id="DB2-Connections" minPoolSize="5" maxPoolSize="50"/>
    <dataSource id="PortfolioDB" jndiName="jdbc/Portfolio/PortfolioDB" connectionManagerRef="DB2-Connections" isolationLevel="TRANSACTION_READ_COMMITTED">
        <jdbcDriver>
            <library name="DB2" description="DB2 JDBC driver jar">
                <file id="db2jcc4" name="/config/db2jcc4.jar"/>
            </library>
        </jdbcDriver>
        <properties.db2.jcc serverName="${env.JDBC_HOST}" portNumber="${env.JDBC_PORT}" databaseName="${env.JDBC_DB}"
            user="${env.JDBC_ID}" password="${env.JDBC_PASSWORD}"/> <!-- It won't use a containerAuthDataRef for some reason, so defining credentials here instead -->
    </dataSource>

    <authData id="MQ-Credentials" user="${env.MQ_ID}" password="${env.MQ_PASSWORD}"></authData>

    <resourceAdapter id="mq" location="/config/wmq.jmsra.rar"/>

    <jmsQueueConnectionFactory id="NotificationQCF" jndiName="jms/Portfolio/NotificationQueueConnectionFactory" containerAuthDataRef="MQ-Credentials">
        <properties.mq 
            transportType="CLIENT"
            hostName="${env.MQ_HOST}" 
            port="${env.MQ_PORT}"
            channel="${env.MQ_CHANNEL}"
            queueManager="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueueConnectionFactory>
    <jmsQueue id="NotificationQ" jndiName="jms/Portfolio/NotificationQueue">
        <properties.mq baseQueueName="${env.MQ_QUEUE}" baseQueueManagerName="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueue>

<!-- Use this to be a client to Liberty's built-in JMS provider (running in a messaging-engine pod) instead of MQ
    <jmsQueueConnectionFactory id="NotificationQCF" jndiName="jms/Portfolio/NotificationQueueConnectionFactory">
        <properties.wasJms remoteServerAddress="messaging-engine-service:7276:BootstrapBasicMessaging"/>
    </jmsQueueConnectionFactory>
    <jmsQueue id="NotificationQ" jndiName="jms/Portfolio/NotificationQueue">
        <properties.wasJms queueName="NotificationQ"/>
    </jmsQueue>
-->

<!-- Authentication is via JWT SSO
    <basicRegistry id="basic" realm="BasicRegistry">
        <user name="admin" password="admin"/>
        <user name="stock" password="trader"/>
        <user name="debug" password="debug"/>
        <user name="read"  password="only"/>
        <user name="other" password="other"/>
        <user name="jalcorn@us.ibm.com" password="test"/>
        <group name="StockTrader">
            <member name="stock"/>
            <member name="debug"/>
            <member name="jalcorn@us.ibm.com"/>
        </group>
        <group name="StockViewer">
            <member name="read"/>
        </group>
    </basicRegistry>

    <administrator-role>
    	<user>admin</user>
    </administrator-role>
-->

    <ltpa expiration="1h"/>

    <webAppSecurity allowFailOverToBasicAuth="true" displayAuthenticationRealm="true" logoutOnHttpSessionExpire="true"
        webAlwaysLogin="true" preserveFullyQualifiedReferrerUrl="true" trackLoggedOutSSOCookies="true" ssoCookieName="StockTraderSSO"
        useOnlyCustomCookieName="true" ssoUseDomainFromURL="true"/>

    <webApplication id="Portfolio" name="Portfolio" location="Portfolio.war" contextRoot="/portfolio">
        <application-bnd>
            <security-role id="StockTrader" name="StockTrader">
                <special-subject type="ALL_AUTHENTICATED_USERS" id="IBMid"/>
            </security-role>
        </application-bnd>
    </webApplication>
</server>
